# Archivos del sistema
.DS_Store
Thumbs.db
desktop.ini

# Archivos de editores
.vscode/
.idea/
*.swp
*.swo
*~

# Archivos temporales
*.tmp
*.log

# si se agregan después
node_modules/

# Archivos de imágenes (opcional quitar si quieres versionar las imágenes)
# images/*.jpg
# images/*.png
# images/*.jpeg


*.pdf
